@page
@model AzureWebAppDemo.Pages.DeploymentSlotsModel
@{
    ViewData["DeploymentSlots"] = "Deployment slots page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Added a staging deployment slot and testing the results!!! </p>
</div>
