@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a demo app for trying out various Azure services !!! </p>
    <h3>
        @ViewData["NewConfigurationKey"]
    </h3>
</div>
